// Values written by HM to fixed location.
@import "/home/jeremy-barisch-rooney/.config/ignis/colors.scss";

.bar-window {
    font-family: 'Atkinson Hyperlegible';
    font-size: medium;
    font-weight: 500;
}

.workspace-button-label {
    font-size: small;
    font-weight: 500;
}

.bar-right {
    font-size: small;
    font-weight: 500;
    .battery:hover {
    }
}

$darkmode: false;

@mixin hover($bg) {
    background-color: $bg;

    &:hover {
        @if $darkmode == true {
            background-color: lighten($bg, 5%);
        }
        @else {
            background-color: darken($bg, 5%);
        }
    }
}

@mixin window {
    background-color: $base;
    border-radius: 6px;
    box-shadow: 0 0 4px 2px $crust;
    color: $crust;
}

@import "./scss/app_launcher.scss";
@import "./scss/app_switcher.scss";
@import "./scss/bar.scss";
@import "./scss/notification_popup.scss";
