// Values written by HM to fixed location.
@import "/home/jeremy-barisch-rooney/.config/ignis/colors.scss";

$darkmode: false;

@mixin hover($bg) {
    background-color: $bg;

    &:hover {
        @if $darkmode == true {
            background-color: lighten($bg, 5%);
        }
        @else {
            background-color: darken($bg, 5%);
        }
    }
}

@mixin window {
    background-color: $base;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px $crust;
    color: $crust;
}

@import "./scss/app_launcher.scss";
@import "./scss/bar.scss";
@import "./scss/notification_popup.scss";
