$accent-color: #f5c2e7;
$base-color: #1e1e2e;
$crust-color: #11111b;
$mantle-color: #181825;
$text-color: #cdd6f4;
$warning-color: #f38ba8;

$gap-sml: .5em;
$gap-med: 1em;

$border-radius: 5px;
$border-width: 2px;

@mixin text-style {
  color: $text-color;
}

.bar {
  background-color: $base-color;
  opacity: 0.9;
  .app-title {
    @include text-style;
  }
  .clock {
    @include text-style;
  }
  .workspaces {
    .workspace {
      border-radius: 50%;
      background-color: $mantle-color;
      min-width: 20px;
      margin-bottom: $gap-sml;
      margin-right: $gap-sml;
      margin-top: $gap-sml;
      @include text-style;
    }
    .workspace:first-child {
      margin-left: $gap-sml;
    }
    .workspace.active {
      background-color: $accent-color;
      color: $base-color;
    }
  }
}

.notifications {
  .notifications-list {
    margin: $gap-med;
    min-height: 2000px;
    .notification {
      background-color: $base-color;
      border-color: $accent-color;
      border-radius: $border-radius;
      border-style: solid;
      border-width: $border-width;
      margin-bottom: $gap-med;
      min-width: 500px;
      padding: $gap-sml;
      .icon image {
        color: $accent-color;
        font-size: 58px;
      }
      .title {
        font-size: 1.5em;
      }
      .body {
        margin: $gap-sml;
      }
      .action-button {
        margin: $gap-sml;
      }
    }
    .notification.critical {
      border-color: $warning-color;
    }
  }
}

.powermenu-box {
  border: $border-width solid $accent-color;
  border-radius: $border-radius;
  .powermenu-icon {
    border-radius: 50%;
    margin: 10em;
  }
}
