.app-launcher {
    background-color: $crust;
    border-radius: 6px;
    min-width: 600px;
}

.app-launcher-list > * {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.app-launcher-list > *:first-child {
    margin-top: 0px;
}

.app-launcher-list > *:last-child {
    margin-bottom: 12px;
}

.app-launcher-entry {
    margin: 12px;
}

.app-launcher-search-icon {
    margin-left: 12px;
}

.app-launcher-app-label {
    margin-left: 12px;
}
