.bar-window {
  margin: 6px;
  margin-bottom: 0;
  .bar-center { font-size: medium; }
  .bar-left { font-size: small; }
  .bar-right { font-size: x-small; }
  .bar-button, .powermenu-button {
    border-radius: 10px;
    outline-width: 0px;
    padding: 0 16px;
    min-width: 0;
  }
  .workspaces {
    .workspace-button {
      border: 2px solid transparent;
      .workspace-button-label {
          min-width: 16px;
      }
    }
    .workspace-button.active-workspace {
      border: 2px solid $accent;
    }
  }
}

