.bar-window {
  margin: 6px;
  margin-bottom: 0;
  .bar-button {
    background-color: $base;
    border-radius: 6px;
  }
  .workspaces {
    .workspace-button {
      border: 2px solid transparent;
    }
    .workspace-button.active {
      border: 2px solid $accent;
    }
  }
}

.volume {
    color: white;
}
