.bar-window {
  margin: 10px; // Should be 2 x gap in flake.nix.
  margin-bottom: 0;
  .bar-center { font-size: small; }
  .bar-left { font-size: small; }
  .bar-right { font-size: small; }
  .bar-button, .powermenu-button {
    border-radius: 10px; // Should match rounding in hyprland.nix.
    outline-width: 0px;
    padding: 0 24px;
    min-width: 0;
  }
  .workspaces {
    .workspace-button {
      border: 2px solid transparent; // Should match borderSize in flake.nix.
      .workspace-button-label {
          min-width: 24px;
      }
    }
    .workspace-button.active-workspace {
      border: 2px solid $accent;
    }
    .workspace-button.open-workspace {
      border: 2px solid $base;
    }
  }
}

