.lock-screen-background {
    background-image: url("file:///home/jeremy-barisch-rooney/wallpaper-blurred.jpg");
    background-size: cover;
}

.lock-screen-entry {
    border: 2px solid;
}

.lock-screen-entry.authenticating {
    border-color: $base;
}

.lock-screen-entry.error {
    border-color: $red;
}
