.notification-body {
    color: white;
}

.notification-summary {
    color: white;
}

.notification-popup {
    @include window;
    min-width: 25rem;

    & .notification-close {
        @include hover($base);
    }

    & .notification-action {
        @include hover($base);
    }
}
